{{#> layout}}
  <p>Olá {{contactName}},</p>

  <p>Agradecemos seu interesse em utilizar o Tasky System. Após análise cuidadosa, informamos que não poderemos aprovar sua solicitação de cadastro para <strong>{{companyName}}</strong> neste momento.</p>

  <p>Isto pode ter ocorrido por vários motivos, incluindo:</p>

  <ul style="margin: 15px 0;">
    <li>Informações incompletas ou incorretas no cadastro</li>
    <li>Incompatibilidade com os serviços oferecidos pelo Tasky System</li>
    <li>Restrições de disponibilidade em sua região</li>
  </ul>

  <p>Se você acredita que houve um erro ou deseja obter mais informações sobre esta decisão, por favor entre em contato com nossa equipe de suporte respondendo a este email.</p>

  <p>Atenciosamente,<br>
  Equipe Tasky System</p>
{{/layout}}
